.header__lang-switcher {
  padding-bottom: 5px;
}

@media (max-width: 1023px) {
  .header__lang-switcher {
    padding-bottom: 6px;
  }
}

@media (max-width: 767px) {
  .header__lang-switcher {
    padding-bottom: 8px;
  }
}
