.place__url {
  color: #aaaaaa;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  margin: 0;
  padding-bottom: 8px;
}

@media (max-width: 1023px) {
  .place__url {
    line-height: 12px;
  }
}
