.place__article-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  margin: 0;
  padding-bottom: 26px;
}

.place__article-text:last-child {
  padding-bottom: 0;
}

@media (max-width: 1023px) {
  .place__article-text {
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .place__article-text {
    padding-top: 0;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 25px;
  }
}
