.page__container {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #2a2c2f;
  font-family: 'Inter', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 28px 0 24px;
  box-sizing: border-box;
  color: white;
}

@media (max-width: 768px) {
.page__container {
  padding-top: 16px;
}
}